
<%- include('./partials/navbar') %>

    <% blogs.forEach(function(blog){ %>
        <div>
            <p><%= blog.title %></p>
            <img src="<%= blog.imgurl %>" alt="error in reloading image">
            <p><%= blog.description %> </p>
        </div>
    <% }) %>
    
<%- include('./partials/footer') %>
