
<%- include('./partials/navbar') %>
    <h1 id="heading">Blog App</h1>
    <% blogs.forEach(function(blog){ %>
        <div class="main-container">
            <div>
                <img src="<%= blog.imgurl %>" alt="error in reloading image">
            </div>
            <div id="main-small-container">
                <div id="title"><%= blog.title %></div>          
                <div id="desc"><%= blog.description.substring(0, 100) %>... </div>
                <a href="/show/<%= blog.id %>">
                    <button class="btn"type="submit">Read More</button>
                </a>
            </div>
        </div>
    <% }) %>

<%- include('./partials/footer') %>
