
<%- include('./partials/navbar') %>

    <% blogs.forEach(function(blog){ %>
        <div class="container">
            <h1><%= blog.title %></h1>
            <img src="<%= blog.imgurl %>" alt="error in reloading image">
            <div><%= blog.description %> </div>
            <a href="/blog/edit?id=<%= blog.id %>">
                <button>Edit</button>
            </a>
            <a href="/blog/delete?id=<%= blog.id %>">Delete</a>
        </div>
    <% }) %>

<%- include('./partials/footer') %>
